# .htaccess-Datei für Passwortschutz
AuthType Basic
AuthName "Geschützter Bereich - Bitte geben Sie ein Passwort ein!"
AuthUserFile /kunden/519506_44141/webseiten/workgarden.de/.htusers
Require valid-user